*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Nunito', sans-serif;
    /*background: ;*/
}
nav{
    display: flex;
    background:#f7c9c9;
    padding: 5px 20px;
}
nav #logo{
    font-size: 28px;
    font-family: 'Handlee', cursive;

    margin-right: 25px;
}
nav ul{
    list-style-type:none;
}
nav a{
    color: white;
    font-weight: 600;
    text-decoration: none;
}
a:hover{
    color:  #707472;
    text-decoration: underline;
}
.menu li{
    display: inline-block;
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
}
#cover-inicio{
    display: flex;
    padding: 15px 25px;
    /*background-color:#dfebe5;*/
}
#foto-perfil{
    width: 200px;
}